<h1>Admin Panel</h1>

{{#each post}}
<div class="card">
    <div class="card-body">
        <div class="row">
            <h5 class="card-title">{{title}}</h5>
        </div>
        <div class="row">
            <div class="card-text">{{description}}</div>
        </div>
    </div>
</div>
{{/each}}