<div class="container-fluid" style="padding-top: 30%;">
    <div class="row">
        <h4>Comment Section</h4>
    </div>
    <div class="card">
        <div class=" row justify-content-center">
            <div class="card-body">
                <div class="container">
                    <form>
                        <div class="mb-3">
                            <label for="Name" class="form-label">Your name:</label>
                            <input class="form-control" type="text" name="name" required>
                        </div>
                        <div class="mb-3">
                            <input class="form-control" type="text" name="comment" placeholder="Say what you want to say" required>
                        </div>
                        <div class="mb-3">
                            <input class="btn btn-primary" type="submit" value="Post">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>