<div class="container-fluid">
    <div class="card">
        <div class=" row justify-content-center">
            <form>
                <div class="mb-3">
                    <label for="Name" class="form-label">Your name:</label>
                    <input class="form-control" type="text" name="name" required>
                </div>
                <div class="mb-3">
                    <input class="form-control" type="text" name="comment" placeholder="Say what you want to say" required>
                </div>
            </form>
        </div>
    </div>
</div>