<div class="row">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <h3 class="center">Hello there, Updates!!</h3>{{!-- {{post-title}} --}}
            <hr>
            <div class="row">
                {{!-- {{content}} --}}
                <div class="bd-callout bd-callout-info">
                    Every now and then I do some changes here. I'm trying to keep all documented, not just on the README, but I'm recording almost everything.
                </div>
            </div>
            <div class="row">
                Off course to contradict myself I'm not recording right now lol, but please leave a comment, whatever you want, soon I'll make it visible, but for now just leave a message to me <3
            </div>
        </div>
    </div>
</div>
{{#each post}}
<div class="row">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <h3 class="center">{{_doc.title}}</h3>
            <hr>
            <div class="row">
                {{_doc.content}}
            </div>
        </div>
    </div>
</div>
{{/each}}