<div class="row">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <h3 class="center">Hello there, this is the first post</h3>{{!-- {{post-title}} --}}
            <hr>
            <div class="row">
                {{!-- {{content}} --}}
                <p>This is the first content, let's fill it up</p>
                <p>Aute sunt et dolor irure nostrud voluptate in minim ex do aliqua non officia. Esse quis adipisicing occaecat est adipisicing reprehenderit tempor. Incididunt irure in eiusmod fugiat culpa velit. Eiusmod ullamco elit culpa dolor do cillum aliqua officia eiusmod tempor nostrud aliqua. Pariatur adipisicing aliquip veniam elit magna non sunt. Adipisicing aute consequat elit sunt non occaecat.</p>
            </div>
        </div>
    </div>
</div>
{{#each}}
<div class="row">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <h3 class="center">{{_doc.title}}</h3>
            <hr>
            <div class="row">
                {{_doc.content}}
            </div>
        </div>
    </div>
</div>
{{/each}}