<div class="container">
    <div class="row justify-content-center">
        <img src="assets/img/bv.jpg" class="w-50 h-50 img-fluid mx-auto rounded">
    </div>
</div>

{{>_navbar}}

<div class="row">
    <div class="col-sm-8">
        <div class="container">
            <div class="row">
                <div class="container">
                    {{>_post}}
                </div>
            </div>
        </div>
        <div class="row sticky-bottom">
            <div class="container">
                {{>_commentForm}}
            </div>
        </div>
       {{!--  <div class="row sticky-bottom">
           {{>_pagination}}
        </div> --}}
    </div>
    <div class="col col-sm-4">
        {{>_lastPostGrid}}
    </div>
</div>


