<div>
    <h1>Spotify</h1>
    <div>{{params.client_id}}</div>
    <button class="btn btn-success" id="login" onclick="redirect()">Log in</button><!-- redirect /auth -->
    <script>
        function redirect(){
            window.location = 'https://accounts.spotify.com/authorize?client_id=a6f38dc284164f9089f1f25b9c077b27'
        }
        console.log(params)
    </script>
</div>