<div>
    <h1>Spotify</h1>
    {{#if access_token}}
        <h1>Welcome!</h1>
        <div>
            <h3>Get your user data</h3>
            <form action="/spotify/users/get_current_user" method="post"></form>
            <input type="hidden" name="access_token" value="{{access_token}}">
            <input type="submit" class="btn btn-success" value="Get">
        </div>
    {{else}}
        <a href="/spotify/login"><button class="btn btn-success" id="login">Log in</button></a><!-- redirect /auth -->
        <div>{{access_token}}</div>
    {{/if}}
</div>