<div>
    <h1>Spotify</h1>
    <div>{{params}}</div>
    <button class="btn btn-success" id="login" onclick="redirect({{client_id}}, {{redirect_uri}})">Log in</button><!-- redirect /auth -->
    <script>
        function redirect(c_id, red_uri){
            window.location = `https://accounts.spotify.com/authorize?client_id=${c_id}&redirect_uri=${red_uri}`
            console.log(params)
        }
    </script>
</div>