<div>
    <h1>Spotify</h1>
    {{#if access_token}}
        <h1>Welcome!</h1>
    {{else}}
        <a href="/spotify/login"><button class="btn btn-success" id="login">Log in</button></a><!-- redirect /auth -->
        <div>{{access_token}}</div>
    {{/if}}
</div>