<div>
    <h1>Spotify</h1>
    <button class="btn btn-success" id="login" onclick="redirect({{params}})">Log in</button><!-- redirect /auth -->
    <script>
        function redirect(params){
            window.location = 'https://accounts.spotify.com/authorize?client_id=${params.client_id}'
        }
    </script>
</div>